[Desktop Entry]
Encoding=UTF-8
Name=Link to Tampermonkey
Type=Application
Exec=firefox https://addons.mozilla.org/en-US/firefox/addon/tampermonkey/
Icon=text-html
