[Desktop Entry]
Encoding=UTF-8
Name=Link to Zinnsoldat
Type=Application
EXEC=firefox https://github.com/PlaceDE-Official/zinnsoldat/raw/main/output/placebot.user.js
Icon=text-html
